* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

#root {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover,
a.active {
  text-decoration: underline;
}

main,
form,
label {
  display: grid;
  gap: 0.25rem;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

p[role="alert"] {
  color: red;
}
